<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Account Activity API Sample App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
  <style>
  /* restyle the fork ribbon color from default (red) */
  .github-fork-ribbon.right-top:before {
    background-color: #f80;
  }
  </style>
  <link rel="icon" type="image/png" href="webhook-48.png">

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="github-fork-ribbon right-top fixed" href="https://github.com/twitterdev/account-activity-dashboard" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <a class="navbar-brand" href="/"><i class="fab fa-twitter"></i> Account Activity Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/webhook"><i class="fas fa-cog"></i> Manage Webhook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscriptions"><i class="fas fa-address-book"></i> Manage Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activity"><i class="fas fa-bolt"></i> Live Activity</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  
