<% include partials/header.ejs %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-info-circle"></i> <%= title %></h3>
      <div class="card-body">
        <p><%= message %></p>
        <a class="btn btn-primary" href="<%= button.url %>" role="button"><%= button.title %> <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>